@model Circle


<div class="container">
    <div class="row">
        <div class="col-6">

            <h1>Daire Bilgileri </h1>
            <ul>
                <li>Daire Blok : @Model.Block</li>
                <li>Daire Kat : @Model.Floor</li>
                <li>Daire No : @Model.Number</li>
                <li>Tip : @Model.Type</li>
                <li>Daire Durumu : @Model.Status</li>
                <li>Daire Sakini : @ViewBag.CircleUser</li>
            </ul>
                    
        </div>
    </div>

</div>  