@model User

    <div class="container">
        <div class="row">
            <div class="col-6">

                <h1>Kullanıcı Bilgileri </h1>
                <ul>
                    <li>Adı Soyadı : @Model.FirstName @Model.LastName</li>
                    <li>Kullanıcı Adı : @Model.UserName</li>
                    <li>Telefon : @Model.Phone</li>
                    <li>Email : @Model.Email</li>
                    <li>Araba Plakası : @Model.CarPlate</li>
                    <li>TC No : @Model.TCNO</li>
                </ul>
            </div>
        </div>

    </div>  
